# from my.telegram.org/apps
API_ID=32557753
API_HASH=3aec7775e6af24432f2414f941409876

# from @BotFather on telegram
BOT_TOKEN=8888823138:AAGLes6Map11ObibaPVJx5-4VWbk27Fj-zo
LOGGER_ID=-1003580761779

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://teambncera_db_user:yGdm5Wu4nm6kVEsu@cluster0.cknfexf.mongodb.net/?appName=Cluster0

OWNER_ID=8188215655

# pyrogram session from @StringFatherBot on telegram
SESSION=BQCZzqEAsjebAtIJf-7NAmsBbjbnbS1HAkyHcLYTFYhXHoyGgFnc6ymj0gWf2JScF7mA_OGfDYW5E4270h0z26nmtrSGiOGm6bPZ87FCY2RxcFpEE8WgXSfEk6_BN1ZwDD_nzPx2u1n4etMXkN3I2KmoC5JoaK475OJYtJMl5iVbdBz0gSO62vw5gEwiGG_SPsFMgZd5s6OCn6arayy4-esvQPRoruRoth4xolwqR2077EDYQCnRgGP1VkzTvFNLQzz4kTwig2o3Ae0KXZwt20kKGxpX8IA_c0U3S6qEuZGBH4jAac1wEh_94VoZsLAiqTQ3hGBapYNAW9jVq1Aox98Y8gAu1AAAAAHoDkFnAA
